In [7]:
import pandas as pd

In [8]:
import numpy as np

In [9]:
df= pd.read_csv("../data/retailData.csv")

In [11]:
df

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8185,45,28/06/2013,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False
8186,45,05/07/2013,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False
8187,45,12/07/2013,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False
8188,45,19/07/2013,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False
8189,45,26/07/2013,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False

In [12]:
store1= df[df["Store"]==1]

In [13]:
store1

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
177,1,28/06/2013,83.94,3.495,4205.98,796.70,6.84,3816.78,4812.74,NaN,NaN,False
178,1,05/07/2013,79.85,3.422,7649.99,3503.29,1766.77,9454.96,1079.89,NaN,NaN,False
179,1,12/07/2013,83.12,3.400,6089.94,1362.42,209.62,2367.42,2651.05,NaN,NaN,False
180,1,19/07/2013,79.26,3.556,3117.04,1060.39,199.05,1012.30,5381.72,NaN,NaN,False
181,1,26/07/2013,81.54,3.620,332.17,673.19,1.00,38.63,1245.20,NaN,NaN,False

In [16]:
store1.equals(store1.drop_duplicates)

False

In [ ]:
store1= store1.drop_duplicates()

In [19]:
store1

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
177,1,28/06/2013,83.94,3.495,4205.98,796.70,6.84,3816.78,4812.74,NaN,NaN,False
178,1,05/07/2013,79.85,3.422,7649.99,3503.29,1766.77,9454.96,1079.89,NaN,NaN,False
179,1,12/07/2013,83.12,3.400,6089.94,1362.42,209.62,2367.42,2651.05,NaN,NaN,False
180,1,19/07/2013,79.26,3.556,3117.04,1060.39,199.05,1012.30,5381.72,NaN,NaN,False
181,1,26/07/2013,81.54,3.620,332.17,673.19,1.00,38.63,1245.20,NaN,NaN,False

In [21]:
store1 = store1.dropna()

In [22]:
store1

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
92,1,11/11/2011,59.11,3.297,10382.90,6115.67,215.07,2406.62,6551.42,217.998085,7.866,False
93,1,18/11/2011,62.25,3.308,6074.12,254.39,51.98,427.39,5988.57,218.220509,7.866,False
94,1,25/11/2011,60.14,3.236,410.31,98.00,55805.51,8.00,554.92,218.467621,7.866,True
95,1,02/12/2011,48.91,3.172,5629.51,68.00,1398.11,2084.64,20475.32,218.714733,7.866,False
96,1,09/12/2011,43.93,3.158,4640.65,19.00,105.02,3639.42,14461.82,218.961846,7.866,False
97,1,16/12/2011,51.63,3.159,5011.32,67.00,347.37,225.79,4011.37,219.179453,7.866,False
98,1,23/12/2011,47.96,3.112,2725.36,40.48,634.70,24.90,2739.43,219.357722,7.866,False
99,1,30/12/2011,44.55,3.129,5762.10,46011.38,260.36,983.65,4735.78,219.535990,7.866,True
100,1,06/01/2012,49.01,3.157,6277.39,21813.16,143.10,1450.13,8483.00,219.714258,7.348,False
101,1,13/01/2012,48.53,3.261,5183.29,8025.87,42.24,453.08,3719.38,219.892526,7.348,False
102,1,20/01/2012,54.11,3.268,4139.87,2807.19,33.88,500.62,3400.21,219.985689,7.348,False
103,1,27/01/2012,54.26,3.290,1164.46,1082.74,44.00,11.00,1222.19,220.078852,7.348,False
104,1,03/02/2012,56.55,3.360,34577.06,3579.21,160.53,32403.87,5630.40,220.172015,7.348,False
105,1,10/02/2012,48.02,3.409,13925.06,6927.23,101.64,8471.88,6886.04,220.265178,7.348,True
106,1,17/02/2012,45.32,3.510,9873.33,11062.27,9.80,8409.31,3402.66,220.425759,7.348,False
107,1,24/02/2012,57.25,3.555,9349.61,7556.01,3.20,1219.92,8143.59,220.636902,7.348,False
108,1,02/03/2012,60.96,3.630,15441.40,1569.00,10.80,25390.88,8067.61,220.848045,7.348,False
109,1,09/03/2012,58.76,3.669,10331.04,151.88,6.00,671.43,5509.84,221.059189,7.348,False
110,1,16/03/2012,64.74,3.734,4298.16,7.50,2.02,2724.65,2017.69,221.211813,7.348,False
111,1,23/03/2012,65.93,3.787,6118.56,9.48,4.97,426.72,3657.22,221.286413,7.348,False
112,1,30/03/2012,67.61,3.845,10309.58,0.50,10.25,1654.17,2642.78,221.361012,7.348,False
114,1,13/04/2012,69.07,3.891,6186.19,3288.69,17.07,1822.55,1063.78,221.510210,7.143,False
115,1,20/04/2012,66.76,3.877,2230.80,612.02,19.75,275.13,5747.10,221.564074,7.143,False
121,1,01/06/2012,77.95,3.501,6086.21,12.00,370.51,148.75,3690.85,221.747214,7.143,False
122,1,08/06/2012,78.30,3.452,8813.81,116.80,64.55,2652.04,7161.91,221.749484,7.143,False
123,1,15/06/2012,79.35,3.393,5621.99,109.60,0.25,2420.28,3083.26,221.762642,7.143,False
124,1,22/06/2012,78.39,3.346,8624.56,171.25,3.05,2524.07,7063.68,221.803021,7.143,False
126,1,06/07/2012,81.57,3.227,12218.76,94.40,192.83,4066.01,6149.04,221.883779,6.908,False
127,1,13/07/2012,77.12,3.256,7218.13,45.20,36.24,3909.38,2596.37,221.924158,6.908,False
128,1,20/07/2012,80.42,3.311,3213.00,313.72,9.53,2262.02,3228.19,221.932727,6.908,False
129,1,27/07/2012,82.66,3.407,7146.90,389.02,1.59,10267.54,4325.19,221.941295,6.908,False
130,1,03/08/2012,86.11,3.417,27584.78,119.98,30.23,12007.04,4661.71,221.949864,6.908,False
131,1,10/08/2012,85.05,3.494,11436.22,245.00,6.85,6964.26,4836.22,221.958433,6.908,False
132,1,17/08/2012,84.85,3.571,3662.06,137.86,4.84,2752.20,3446.15,222.038411,6.908,False
133,1,24/08/2012,77.66,3.620,6237.83,260.06,2.97,3463.03,7988.25,222.171946,6.908,False
134,1,31/08/2012,80.49,3.638,21442.73,102.32,21.70,13209.64,3032.96,222.305480,6.908,False
135,1,07/09/2012,83.96,3.730,5204.68,35.74,50.94,4120.32,2737.17,222.439015,6.908,True
136,1,14/09/2012,74.97,3.717,17212.52,7.00,18.79,1523.11,7992.72,222.582019,6.908,False
137,1,21/09/2012,69.87,3.721,6352.30,7.64,4.69,1010.06,6456.71,222.781839,6.908,False
138,1,28/09/2012,76.08,3.666,3666.27,7.64,1.65,1417.96,4744.28,222.981658,6.908,False
142,1,26/10/2012,69.16,3.506,2585.85,31.75,6.00,1057.16,1305.01,223.444251,6.573,False
143,1,02/11/2012,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,False
144,1,09/11/2012,61.24,3.314,11421.32,3370.89,40.28,4646.79,6154.16,223.481307,6.573,False
145,1,16/11/2012,52.92,3.252,9696.28,292.10,103.78,1133.15,6612.69,223.512911,6.573,False
146,1,23/11/2012,56.23,3.211,883.59,4.17,74910.32,209.91,303.32,223.561947,6.573,True
151,1,28/12/2012,44.79,3.108,12659.55,37101.13,174.78,74.46,1208.86,223.960414,6.573,True
152,1,04/01/2013,41.73,3.161,1214.08,25366.33,15.01,72.36,3940.02,224.080983,6.525,False
153,1,11/01/2013,50.32,3.243,6520.24,16134.60,12.17,774.55,4001.25,224.201552,6.525,False
154,1,18/01/2013,42.92,3.237,3772.69,3559.46,3.88,246.62,1900.40,224.235813,6.525,False
155,1,25/01/2013,53.37,3.227,965.89,1097.91,0.10,225.36,1831.88,224.235552,6.525,False
156,1,01/02/2013,56.46,3.244,9290.91,1359.90,265.00,20657.82,972.61,224.235290,6.525,False
157,1,08/02/2013,56.67,3.417,32355.16,729.80,280.89,20426.61,4671.78,224.235029,6.525,True
158,1,15/02/2013,49.66,3.475,72937.29,6665.52,47.21,13014.67,6310.18,224.276053,6.525,False
159,1,22/02/2013,50.25,3.597,20107.75,3163.89,42.20,15657.30,5812.86,224.420289,6.525,False
160,1,01/03/2013,48.01,3.711,10610.74,261.46,2.80,25.54,2747.59,224.564526,6.525,False
161,1,08/03/2013,50.81,3.658,5000.58,290.46,78.77,606.15,3697.11,224.708763,6.525,False
165,1,05/04/2013,58.59,3.583,12872.34,5687.86,485.97,478.04,5092.33,225.086540,6.314,False
166,1,12/04/2013,62.72,3.529,3672.43,932.58,52.86,949.07,2836.64,225.170160,6.314,False
167,1,19/04/2013,67.10,3.451,3530.36,3.95,107.50,458.76,2062.05,225.170160,6.314,False

In [23]:
store1.to_csv("../data/store1_clean.csv", index=False)